In [841]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

In [842]:
data_original = pd.read_csv(r'C:\Users\12734\Desktop\kaggle\Titanic\train.csv')

In [843]:
data_original.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [844]:
data_after_del = data_original.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)

In [845]:
data_after_del['Sex'] = data_after_del['Sex'].map({'female': 1, 'male': 0})
data_after_del['Embarked'] = data_after_del['Embarked'].map({'S': 0, 'C': 1, 'Q': 2})

In [846]:
data_after_del.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    0  22.0      1      0   7.2500       0.0
1         1       1    1  38.0      1      0  71.2833       1.0
2         1       3    1  26.0      0      0   7.9250       0.0
3         1       1    1  35.0      1      0  53.1000       0.0
4         0       3    0  35.0      0      0   8.0500       0.0

In [847]:
X = data_after_del.drop(['Survived'], axis=1)
Y = data_after_del['Survived']

In [848]:
print(X)

     Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         3    0  22.0      1      0   7.2500       0.0
1         1    1  38.0      1      0  71.2833       1.0
2         3    1  26.0      0      0   7.9250       0.0
3         1    1  35.0      1      0  53.1000       0.0
4         3    0  35.0      0      0   8.0500       0.0
..      ...  ...   ...    ...    ...      ...       ...
886       2    0  27.0      0      0  13.0000       0.0
887       1    1  19.0      0      0  30.0000       0.0
888       3    1   NaN      1      2  23.4500       0.0
889       1    0  26.0      0      0  30.0000       1.0
890       3    0  32.0      0      0   7.7500       2.0

[891 rows x 7 columns]

In [849]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [850]:
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(712, 7)
(179, 7)
(712,)
(179,)

In [851]:
print(X_train)

     Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
661       3    0  40.0      0      0   7.2250       1.0
848       2    0  28.0      0      1  33.0000       0.0
285       3    0  33.0      0      0   8.6625       1.0
699       3    0  42.0      0      0   7.6500       0.0
72        2    0  21.0      0      0  73.5000       0.0
..      ...  ...   ...    ...    ...      ...       ...
858       3    1  24.0      0      3  19.2583       1.0
483       3    1  63.0      0      0   9.5875       0.0
317       2    0  54.0      0      0  14.0000       0.0
112       3    0  22.0      0      0   8.0500       0.0
321       3    0  27.0      0      0   7.8958       0.0

[712 rows x 7 columns]

In [852]:
X_train.fillna(X_train.mean(), inplace=True)
X_test.fillna(X_test.mean(), inplace=True)
Y_train.fillna(Y_train.mean(), inplace=True)
Y_test.fillna(Y_test.mean(), inplace=True)

In [853]:
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(712, 7)
(179, 7)
(712,)
(179,)

In [854]:
print(X_train)

     Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
661       3    0  40.0      0      0   7.2250       1.0
848       2    0  28.0      0      1  33.0000       0.0
285       3    0  33.0      0      0   8.6625       1.0
699       3    0  42.0      0      0   7.6500       0.0
72        2    0  21.0      0      0  73.5000       0.0
..      ...  ...   ...    ...    ...      ...       ...
858       3    1  24.0      0      3  19.2583       1.0
483       3    1  63.0      0      0   9.5875       0.0
317       2    0  54.0      0      0  14.0000       0.0
112       3    0  22.0      0      0   8.0500       0.0
321       3    0  27.0      0      0   7.8958       0.0

[712 rows x 7 columns]

In [855]:
rf_model = RandomForestClassifier(n_estimators=500, max_features=3, max_depth=5, min_samples_leaf=2)
rf_model.fit(X_train, Y_train)

RandomForestClassifier(max_depth=5, max_features=3, min_samples_leaf=2,
                       n_estimators=500)

In [856]:
print(rf_model.score(X_train, Y_train))
print(rf_model.score(X_test, Y_test ))

0.8469101123595506
0.8435754189944135

In [857]:
test_original = pd.read_csv(r'C:\Users\12734\Desktop\kaggle\Titanic\test.csv')
test_after_del = test_original.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)
test_after_del['Sex'] = test_after_del['Sex'].map({'female': 1, 'male': 0})
test_after_del['Embarked'] = test_after_del['Embarked'].map({'S': 0, 'C': 1, 'Q': 2})

In [858]:
test_after_del.fillna(test_after_del.mean(), inplace=True)
test_after_del.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    0  34.5      0      0   7.8292         2
1       3    1  47.0      1      0   7.0000         0
2       2    0  62.0      0      0   9.6875         2
3       3    0  27.0      0      0   8.6625         0
4       3    1  22.0      1      1  12.2875         0

In [859]:
result = rf_model.predict(test_after_del)

In [860]:
import csv
with open(r'C:\Users\12734\Desktop\kaggle\Titanic\gender_submission.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerow(['PassengerId', 'Survived'])
    for i in range(0, len(result)):
        writer.writerow([892+i, result[i]])

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\12734\\Desktop\\kaggle\\Titanic\\gender_submission.csv'